<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginPage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>login.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>login.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgot</display-name>
    <servlet-name>forgot</servlet-name>
    <servlet-class>login.forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUser</display-name>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>login.NewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/NewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P</display-name>
    <servlet-name>P</servlet-name>
    <servlet-class>prashan.P</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P</servlet-name>
    <url-pattern>/P</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>login.Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>login.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashDeposit</display-name>
    <servlet-name>CashDeposit</servlet-name>
    <servlet-class>login.CashDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashDeposit</servlet-name>
    <url-pattern>/CashDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawMny</display-name>
    <servlet-name>WithdrawMny</servlet-name>
    <servlet-class>login.WithdrawMny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawMny</servlet-name>
    <url-pattern>/WithdrawMny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawMoney</display-name>
    <servlet-name>WithdrawMoney</servlet-name>
    <servlet-class>login.WithdrawMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawMoney</servlet-name>
    <url-pattern>/WithdrawMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>login.WithdrawMny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferType</display-name>
    <servlet-name>TransferType</servlet-name>
    <servlet-class>login.TransferType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferType</servlet-name>
    <url-pattern>/TransferType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChequeDeposit</display-name>
    <servlet-name>ChequeDeposit</servlet-name>
    <servlet-class>login.ChequeDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChequeDeposit</servlet-name>
    <url-pattern>/ChequeDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqCreditCard</display-name>
    <servlet-name>ReqCreditCard</servlet-name>
    <servlet-class>login.ReqCreditCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqCreditCard</servlet-name>
    <url-pattern>/ReqCreditCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayeeType</display-name>
    <servlet-name>PayeeType</servlet-name>
    <servlet-class>login.PayeeType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayeeType</servlet-name>
    <url-pattern>/PayeeType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayTransfer</display-name>
    <servlet-name>PayTransfer</servlet-name>
    <servlet-class>login.PayTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayTransfer</servlet-name>
    <url-pattern>/PayTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqMortgage</display-name>
    <servlet-name>ReqMortgage</servlet-name>
    <servlet-class>login.ReqMortgage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqMortgage</servlet-name>
    <url-pattern>/ReqMortgage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOpr</display-name>
    <servlet-name>UserOpr</servlet-name>
    <servlet-class>login.UserOpr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOpr</servlet-name>
    <url-pattern>/UserOpr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqApproval</display-name>
    <servlet-name>ReqApproval</servlet-name>
    <servlet-class>login.ReqApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqApproval</servlet-name>
    <url-pattern>/ReqApproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowImage</display-name>
    <servlet-name>ShowImage</servlet-name>
    <servlet-class>login.ShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImage</servlet-name>
    <url-pattern>/ShowImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassChangeCheck</display-name>
    <servlet-name>PassChangeCheck</servlet-name>
    <servlet-class>login.PassChangeCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassChangeCheck</servlet-name>
    <url-pattern>/PassChangeCheck</url-pattern>
  </servlet-mapping>
</web-app>